.banners {
  margin: 0;
  max-width: 360px;
  width: 100%;
  @include flex(column, flex-start, flex-start);
  gap: 20px;
}

.start {
  padding: 20px;
  @include flex(row, space-between, center);
  gap: 20px;
  border-radius: 12px;
  background-color: $background;
  @include _screenMobile {
    display: none;
  }
  .start__content {
    @include flex(column, flex-start, flex-start);
    gap: 5px;
    .start__title {
      @extend %subtitle;
    }
    .start__info {
      @include font(14px, 16.41px);
      color: $text-medium-second;
    }
    .start__button {
      margin-top: 5px;
      padding: 6px 10px;
      min-width: 116px;
      height: 36px;
      @include flex(row, center, center);
      background-color: $color-element-active;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        background-color: $color-element-active-hover;
        @include _screenMobile {
          background: none;
        }
      }
      &:active {
        background-color: $color-element-active-click;
      }
      &:disabled {
        background-color: $background-elements-unactive;
        color: $text-medium-second;
        font-size: 16px;
      }
      &:first-child {
        padding: 9px 10px 9px 20px;
      }
    }
    .start__button-text {
      padding-top: 2.25px;
      @include font(14px, 16.41px, 700);
      color: $text-light;
    }
  }
  .start__img {
    @include flex(row, center, center);
    min-width: 130px;
    height: 130px;
  }
}
.bonuses {
  padding: 20px;
  @include flex(column, flex-start, flex-start);
  gap: 20px;
  border-radius: 12px;
  background-color: $background;
  @include _screenMobile {
    display: none;
  }
  .bonuses__title {
    @extend %subtitle;
  }
  .bonuses__content {
    @include flex(column, flex-start, flex-start);
    gap: 5px;
  }
}

.bookmaker {
  padding: 10px;
  @include flex(row, flex-start, center);
  gap: 10px;
  border-radius: 8px;
  background-color: $background-elements;
  .bookmaker__logo {
    width: 70px;
    height: 36px;
    @include flex(row, center, center);
    border-radius: 6px;
    padding: 8px 11px;
  }
  .bookmaker__bonus {
    @include font(14px, 18px);
  }
  .bookmaker__button {
    padding: 9px 18.5px;
    height: 36px;
    @include flex(row, center, center);
    background-color: $color-element-active;
    border: none;
    border-radius: 8px;
    @include font(14px, 16px, 700);
    color: $text-light;
    cursor: pointer;
    &:hover {
      background-color: $color-element-active-hover;
      @include _screenMobile {
        background: none;
      }
    }
    &:active {
      background-color: $color-element-active-click;
    }
  }
}

.bet-status {
  width: 100%;
  padding: 20px;
  @include flex(column, flex-start, flex-start);
  gap: 20px;
  border-radius: 12px;
  background-color: $background;
  @include _screenMobile {
    display: none;
  }
  .bet-status__header {
    width: 100%;
    @include flex(row, space-between, center);
    .bet-status__title {
      @extend %subtitle;
    }
    .bet-status__link {
      text-align: center;
      @include font(14px, 16.41px, 500);
      color: $color-element-active;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $color-element-active-hover;
        @include _screenMobile {
          background: none;
        }
      }
      &:active {
        color: $color-element-active-click;
      }
    }
  }
  .bet-status__content {
    @include flex(row, space-between, center);
    gap: 10px;
  }
  .bet-status__item {
    @include flex(column, flex-start, center);
    gap: 10px;
    .bet-status__logo {
      @include flex(column, center, center);
      min-width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: $background-elements;
    }
    &:nth-child(1) {
      .bet-status__bet-wrap,
      .bet-status__logo {
        background-color: $background-bet-home;
      }
      .bet-status__bet {
        color: $text-accent;
      }
    }
    &:nth-child(3) {
      .bet-status__bet-wrap,
      .bet-status__logo {
        background-color: $background-bet-away;
      }
      .bet-status__bet {
        color: $text-active;
      }
    }
  }
  .bet-status__info {
    padding: 2.5px 0;
    @include flex(column, center, center);
    gap: 5px;
    .bet-status__bet-wrap {
      width: 100px;
      height: 30px;
      @include flex(row, center, center);
      gap: 5px;
      border-radius: 32px;
      padding: 5px;
      padding-right: 10px;
      background-color: $background-elements;
    }
    .bet-status__logo-wrap {
      @include flex(row, center, center);
      overflow: hidden;
      max-width: 40px;
      height: 20px;
      border-radius: 32px;
      width: 100%;
    }
    .bet-status__img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    .bet-status__bet {
      width: 43px;
      @include font(12px, 14.06px, 700);
      text-align: center;
    }
    .bet-status__place {
      @include font(10px, 11.72px, 500);
    }
  }
}
