body {
  margin: 0 auto;
  margin-left: 21px;
  max-width: 1440px;
  width: 100%;
  @include flex(row, flex-start, flex-start);
  gap: 20px;
  background-color: $background-main;
  color: $text-dark;
  overflow-x: hidden;
  @include _screenMobile {
    flex-direction: column;
    padding: 0;
    margin-left: 0px;
  }
}

.page {
  padding: 20px;
  max-width: 720px;
  width: 100%;
  @include flex(column, flex-start, flex-start);
  gap: 20px;
  border-radius: 12px;
  background-color: $background;
  @include _screenMobile {
    padding: 0px;
    border-radius: 0px;
    background-color: $background-main;
  }
}

.play {
  width: 100%;
  @include flex(column, flex-start, flex-start);
  gap: 20px;
  .play__header {
    width: 100%;
    @include _screenMobile {
      padding: 0 10px;
      @include flex(column, flex-start, flex-start);
      gap: 20px;
    }
  }
  .play__title {
    @extend %title;
  }
  .play__content {
    width: 100%;
    @include flex(column, flex-start, flex-start);
    gap: 10px;
  }
}

.search {
  display: none;
  @include _screenMobile {
    width: 100%;
    @include flex(row, space-between, center);
    gap: 10px;
  }
  .search__input-wrap {
    width: 100%;
    padding: 11px 10px;
    @include flex(row, flex-start, center);
    gap: 10px;
    border-radius: 32px;
    background-color: $background-elements-third;
    .search__icon {
      @include flex(row, center, center);
      width: 20px;
      height: 20px;
      color: $color-element;
      background: url('../img/icon-search.svg');
    }
    .search__input {
      border: none;
      background-color: transparent;
      @include font(14px, 16.94px);
      font-family: $font-second;
      outline: none;
      &::placeholder {
        color: $text-medium;
      }
    }
  }
  .search__button {
    min-width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    @include flex(row, center, center);
    background-color: $background-elements-third;
    &:hover {
      background-color: $color-element-hover;
    }
  }
}

.calendar {
  width: 100%;
  @include flex(row, flex-start, center);
  gap: 20px;
  @include _screenMobile {
    padding: 0 10px;
  }
  .calendar__icon-wrap {
    position: relative;
    min-width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    @include flex(row, center, center);
    background-color: $background-elements;
    cursor: pointer;
    color: $color-element-second;
    &:hover {
      background-color: $color-element-hover;
    }
    &:active {
      background-color: $color-element-click;
    }
    @include _screenMobile {
      background-color: $background-elements-active;
      color: $color-element-active;
      &:hover {
        background-color: $color-element-active-hover;
      }
      &:active {
        background-color: $color-element-active-click;
      }
    }
    .calendar__icon {
      max-width: 17.6px;
      width: 100%;
      height: 100%;
      background-image: url('../img/calendar.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include _screenMobile {
        background-image: url('../img/calendar-mob.svg');
      }
    }
  }
}

.week {
  width: 100%;
  @include flex(row, flex-start, flex-start);
  gap: 5px;
  @include _screenMobile {
    position: relative;
    overflow-x: auto;
    max-width: 330px;
    margin: auto;
    white-space: nowrap;
    touch-action: pan-y;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .week__item {
    width: 84px;
    height: 62px;
    padding: 15px 10px;
    @include flex(column, center, center);
    border-radius: 8px;
    background-color: $background-elements;
    cursor: pointer;
    &:hover {
      background-color: $color-element-active-hover;
    }
    &:active {
      background-color: $color-element-active-click;
    }
    @include _screenMobile {
      padding: 10px;
      min-width: 62px;
      height: 50px;
      background-color: $background;
    }
  }
  .week__date {
    padding: 0;
    @include font(16px, 16px, 700);
    text-align: center;
    @include _screenMobile {
      font-size: 14px;
    }
  }
  .week__day {
    padding: 0;
    @include font(14px, 16px);
    color: $text-medium;
    text-align: center;
    @include _screenMobile {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .week__circle {
    display: none;
  }
  .week__item_active,
  .week__date_active,
  .week__day_active {
    position: relative;
    background-color: $background-elements-active;
    color: $text-active;
    cursor: default;
    &:hover,
    &:active {
      background-color: $background-elements-active;
    }

    @include _screenMobile {
      background-color: $background-elements-active;
    }
  }
  .week__item_active {
    border: 1px solid $color-element-active;
  }

  .week__circle_active {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-element-active;
    z-index: 20;
  }
  .week__gradient {
    display: none;
    @include _screenMobile {
      position: absolute;
      top: 0;
      width: 32px;
      height: 50px;
      z-index: 5;
    }
  }
  .week__gradient_end {
    display: block;
    right: 0;
    background: linear-gradient(
      to left,
      $background-main 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  // .week__gradient_start {
  //   display: block;
  //   left: 0;
  //   background: linear-gradient(
  //     to right,
  //     $background-main 0%,
  //     rgba(255, 255, 255, 0) 100%
  //   );
  // }
  // &:first-child,
  // &:last-child {
  //   z-index: 15;
  // }
}

.nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include _screenMobile {
    grid-template-columns: repeat(4, 1fr);
  }
  .nav__item {
    padding: 22px 0 12px 0;
    max-height: 50px;
    @include flex(row, center, flex-end);
    gap: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $color-element-third;
    cursor: pointer;
    &:hover {
      background: linear-gradient(
        to top,
        $color-element-active-hover 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    &:active {
      background: linear-gradient(
        to top,
        $color-element-active-click 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    @include _screenMobile {
      padding: 15px 0 10px 0;
      gap: 5px;
    }
  }
  .nav__icon {
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
    color: $color-element-third;
    font-size: 20px;
    line-height: 20px;
    @include _screenMobile {
      max-width: 16px;
      max-height: 16px;
      font-size: 16px;
      line-height: 16px;
    }
  }
  .nav__text {
    @include flex(row, center, center);
    text-align: center;
    @include font(14px, 16px, 700);
    color: $text-medium;
    @include _screenMobile {
      font-size: 12px;
    }
  }
  .nav__item_mobile {
    display: none;
    @include _screenMobile {
      display: flex;
    }
  }
  .nav__item_active,
  .nav__icon_active,
  .nav__text_active {
    background: linear-gradient(
      to top,
      $background-elements-active 0%,
      rgba(255, 255, 255, 0) 100%
    );
    color: $text-active;
    cursor: default;
    &:hover,
    &:active {
      background: linear-gradient(
        to top,
        $background-elements-active 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
  .nav__item_active {
    border-bottom: 2px solid $color-element-active;
  }
}

.info {
  width: 100%;
  padding: 5px 20px;
  @include flex(row, space-between, center);
  @include _screenMobile {
    padding: 2px 20px;
  }
  .clock {
    padding-top: 2.5px;
    min-width: 126px;
    align-self: start;
    @include flex(row, flex-start, flex-end);
    gap: 5px;
    @include _screenMobile {
      min-width: 116px;
    }
    .clock__time {
      display: inline-block;
      text-align: center;
      @include font(14px, 16px, 700);
    }
    .clock__gmt {
      display: inline-block;
      text-align: center;
      @include font(12px, 16px);
      color: $text-medium-second;
      @include _screenMobile {
        font-size: 10px;
      }
    }
  }
  .state {
    padding: 4px 10px;
    @include flex(row, flex-start, center);
    gap: 2px;
    border-radius: 32px;
    background-color: $background-elements-second;
    .state__icon {
      width: 12px;
      height: 12px;
      background-image: url('../img/icon-live.svg');
    }
    .state__text {
      text-align: center;
      @include font(10px, 10px, 700);
      color: $text-light;
    }
  }
  .upcoming.state {
    padding: 4px 10px;
    @include flex(row, flex-start, center);
    gap: 2px;
    border-radius: 32px;
    background-color: $background-elements;
    color: $text-medium-second;
    .state__text {
      text-align: center;
      @include font(10px, 10px, 700);
      color: $text-medium-second;
    }
  }

  .favorite {
    min-width: 126px;
    @include flex(row, flex-end, center);
    cursor: pointer;
    .favorite__icon {
      @include flex(row, center, center);
      width: 30px;
      color: $color-element-second;
      @include _screenMobile {
        max-width: 14px;
        max-height: 14px;
        font-size: 14px;
        line-height: 14px;
        margin-right: 5.5px;
      }
    }
    .favorite__icon.active {
      color: $color-element-active;
    }
  }
}

.upcoming {
  display: none;
  @include _screenMobile {
    display: flex;
  }
}

.live {
  @include _screenMobile {
    display: none;
  }
}
