$background-main: #f8f8fa;
$background: rgb(255, 255, 255);

$background-elements: #f8f9f9;
$background-elements-second: #ff2400;
$background-elements-third: #efeff3;
$background-elements-third-hover: #d3d3d8;
$background-elements-fourth: #f8f9f9;
$background-elements-unactive: #e2e2e2;
$background-elements-active: #e7f4ea;

$text-dark: #1d2730;
$text-medium: #b5b5b5;
$text-medium-second: #616161;
$text-light: #ffffff;
$text-active: #33b63c;
$text-accent: #f2bc00;

$color-element: #1d2730;
$color-element-second: #616161;
$color-element-third: #b5b5b5;
$color-element-active: #33b63c;

$color-element-click: #bbbbbb;
$color-element-active-click: #aceeb0;

$color-element-hover: #dbdbdb;
$color-element-active-hover: #96e19b;

$font: 'Roboto', sans-serif;
$font-second: 'Inter', sans-serif;

$background-bet-home: rgba(242, 188, 0, 0.2);
$background-bet-away: #33b63c33;
